# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\我所有的重要的东西\重要的代码\untitled1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
